<div>
  <h1>{{title}}</h1>
  {{#each products}}
    <p>{{this.title}}</p>
    <p>DESCRIPTION: {{this.description}}</p>
    <p>${{this.price}}</p>
    <p>CATEGORY: {{this.category}}</p>
    <p>CODE: {{this.code}}</p>
    <p>STOCK: {{this.stock}}</p>
    <hr />
  {{/each}}
</div>