<div class='main'>
  <div class='containers' style='margin-top: 50px;'>
    <p>Nombre: {{p.name}}</p>

    <p>Descripcion: {{p.description}}</p>

    <p>$${{p.price}}</p>

    <p>Categoria: {{p.category}}</p>

    <p>Stock: {{p.stock}}</p>
    <button>Add To Cart</button>

  </div>
  <a href='http://localhost:8080/products' style='color: white; margin-top: 25px'>Back to Products</a>
</div>