<div class='realtimeproducts-container'>
  <form id='form-products'>
    <div class='input-container title-price'>
      <div class='input-form'>
        <label for='title'>Title:</label>
        <input id='form-new-product-title' type='text' name='title' placeholder='Title' required />
      </div>
      <div class='input-form'>
        <label for='price'>Price:</label>
        <input id='form-new-product-price' type='number' name='price' placeholder='Price' required />
      </div>
    </div>
    <div class='input-container description-thumbail'>
      <div class='input-form'>
        <label for='description'>Description:</label>
        <input id='form-new-product-description' type='text' name='description' placeholder='Description' required />
      </div>
      <div class='input-form'>
        <label for='thubmail'>Thubmail:</label>
        <input id='form-new-product-thubmail' type='text' name='thubmail' placeholder='Thubmail' />
      </div>
    </div>
    <div class='input-container code-stock'>
      <div class='input-form'>
        <label for='code'>Code:</label>
        <input id='form-new-product-code' type='text' name='code' placeholder='Code' required />
      </div>
      <div class='input-form'>
        <label for='stock'>Stock:</label>
        <input id='form-new-product-stock' type='number' name='stock' placeholder='Stock' required />
      </div>
    </div>
    <input id='btn-form' type='submit' placeholder='Crear Producto' />
  </form>

  <div class='table-container'>
    <h1>Todos los productos</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Thubmail</th>
          <th>Code</th>
          <th>Stock</th>
          <th></th>
        </tr>
      </thead>
      <tbody id='dinamic-product-list'>
        {{#each allProducts}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.thubmail}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td>
              <button type='button' class='btn-delete' value={{this.id}}>
                <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'>
                  <path
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    d='M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0'
                  />
                </svg>
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<script src='/socket.io/socket.io.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src='/js/realtimeproducts.js'></script>