<div>
  <h2>INGRESE PRODUCTO DE MANERA MANUAL</h2>
  <input id="titleId" type="text" value="" placeholder="title" />
  <input id="descriptionId" type="text" value="" placeholder="description" />
  <input id="priceId" type="text" value="" placeholder="price" />
  <input id="categoryId" type="category" value="" placeholder="category" />
  <input id="codeId" type="code" value="" placeholder="code" />
  <input id="stockId" type="stock" value=" " placeholder="stock" />
  <h2>{{title}}</h2>
  {{#each products}}
    <p>{{this.title}}</p>
    <p>DESCRIPTION: {{this.description}}</p>
    <p>${{this.price}}</p>
    <p>CATEGORY: {{this.category}}</p>
    <p>CODE: {{this.code}}</p>
    <p>STOCK: {{this.stock}}</p>
    <hr />
  {{/each}}
</div>
<div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/chat-socket.js"></script>

</div>